@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .auth__form {
    @apply flex flex-col min-h-screen align-middle justify-center items-center px-5;
  }
  .form__input {
    @apply rounded-lg ring-0 border-0 outline-none my-1 px-3 text-custom-blue focus:ring-1 focus:ring-custom-blue placeholder:text-sm bg-[#D1D0F9] placeholder:text-custom-blue;
  }
  .msg_input {
    @apply rounded-lg ring-0 ring-gray-200 border-0 bg-slate-100 outline-none my-1 px-3 focus:ring-0 placeholder:text-sm;
  }
  .btn {
    @apply inline-flex justify-center rounded-md border drop-shadow-lg border-transparent bg-custom-blue px-4 py-2 text-sm font-medium text-white focus:outline-none bg-opacity-80 hover:bg-opacity-100;
  }
  .bold-title {
    @apply font-extrabold text-3xl cursor-pointer;
  }
  .dialog__panel {
    @apply w-full max-w-md transform overflow-hidden rounded-2xl bg-white p-6 text-left align-middle shadow-xl transition-all;
  }
  .screen-wrapper {
    @apply flex align-middle items-center justify-center min-h-screen;
  }
  .div-container {
    @apply flex flex-col gap-4 w-full sm:w-[70%] md:w-[50%] lg:w-[30%] bg-white p-8 rounded-2xl drop-shadow-xl;
  }
}

.bg-navbar {
  @apply bg-transparent !important;
}

@layer base {
  html,
  body {
    @apply font-poppins;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

